body {
	margin: 0;
  background-color: #000000;
}
nav{
    width: 100%;
    float: left;
}
.menu{
    margin: 0;
    text-align: center;
    padding: 22px;
    height: 18px;
    background-color: #ffd700;
}
.menu li{
    display: inline-block;
}
.button{
    font-family: Arial;
    font-size: 1.7em;
}
.button{
    font-family: Arial;
    font-size: 1.3em;
    font-style: none;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
}

h1 {
	color: gold;
	text-align: center;
}
h2 {
	color: white;
	text-align: center;
}
p {
	color: white;
}

li {
	color:white;
	
}
